driver
(		
  name "stage"
  #provides [ "simulation:0"  ]
  #provides ["opaque:0" ]
provides [ "position2d:0" "laser:0" "speech:0" "graphics2d:0" "graphics3d:0"]
  model "r0" 
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)


